<?xml version="1.0"?>

<configuration>

    <system.webServer>
      <staticContent>
        <remove fileExtension=".less"/>
        <mimeMap fileExtension=".less" mimeType="text/css"/>

        <remove fileExtension=".woff"/>
        <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>

        <remove fileExtension=".woff2"/>
        <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
      </staticContent>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="2097151000"/>
        </requestFiltering>
      </security>
    </system.webServer>
  
    <system.web>

        <compilation debug="true" strict="false" explicit="true" />
        <pages>
            <namespaces>
                <clear />
                <add namespace="System" />
                <add namespace="System.Collections" />
                <add namespace="System.Collections.Specialized" />
                <add namespace="System.Configuration" />
                <add namespace="System.Text" />
                <add namespace="System.Text.RegularExpressions" />
                <add namespace="System.Web" />
                <add namespace="System.Web.Caching" />
                <add namespace="System.Web.SessionState" />
                <add namespace="System.Web.Security" />
                <add namespace="System.Web.Profile" />
                <add namespace="System.Web.UI" />
                <add namespace="System.Web.UI.WebControls" />
                <add namespace="System.Web.UI.WebControls.WebParts" />
                <add namespace="System.Web.UI.HtmlControls" />
            </namespaces>
        </pages>
			
				<httpRuntime executionTimeout="1200" maxRequestLength="102400" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true" />

    </system.web>
</configuration>
